.post_comp {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 3px;
    background-color: rgb(239, 235, 235);

    .post_sender {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 20px 0;

        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 3px solid gold;
            margin-right: 10px;
        }

        a {
            text-decoration: none;
        }
    }

    .post_file img {
        width: 100%;
    }

    .post_content {
        padding: 10px;
        text-align: justify;
        font-size: 15px;
        font-weight: 600;
        color: rgb(82, 81, 79);
    }
    .post_btn{

    }
}