.home_page {
    /* width: 95%; */
    padding: 20px 15px;
    /* margin: 0px auto; */
    position: relative;


}

.h_btn {
    background-color: rgb(5, 47, 82);
    padding: 5px 20px;
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgb(79, 77, 77);

    i {
        font-size: 20px;
        font-weight: 700;
        cursor: pointer;
    }

    .h-plus {
        border: 2px solid rgb(255, 255, 255);
        border-radius: 50%;
        padding: 4px 6px;
        font-size: 35px;
        color: white;
    }
}

::-webkit-scrollbar {
    display: none;
}